@model IEnumerable<Taller_sena_2.Models.Cargo>

@{
    ViewData["Title"] = "Cargos";
}

<h1>Cargos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarDes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarDes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarCod">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarCod">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarCod">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
